.custom-button {
  min-width: 200px;
  letter-spacing: 1px;
  line-height: 50px;
  font-size: 20px;
  background-color: #000;
  color: #fff;
  border: none;
  margin: -10px 13px;
  position: -webkit-sticky;
  position: fixed;

  &:hover {
    background-color: white;
    color: black;
    border: 1.5px solid black;
  }
}